<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="AboMapperCustom-14255171" />
            <add name="AboMapperCustom-14255171" path="*.cfm" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion9\runtime\lib\wsconfig\1\jrun_iis6_wildcard.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
        </handlers>
    </system.webServer>
</configuration>
